{% extends ../base.html %}
{% block content %}
    <div class="container">
      <div class="col-xs-12">
        <div class="col-xs-8 padd">
          <div class="col-xs-12 update">
            <img class="img-circle_on" src="{{ static_url("img/pic.jpg")}}">
          </div>
          <div class="col-xs-12 online_con">
             	<section id="chat-body">
<!--problem !-->
             	</section>
             	<section id="chat-action">
             		<input type="text" id="message" >
             		<select class="groupmates" id="group">

             	   </select>
             		<button id="send">send</button>
             	</section>
          </div>
        </div>
        <div class="col-xs-4 online_people padd">
          <div class="mem">Online Members</div>
          <ul class="groupmates">
            <!-- <li><img class="onimg" src="{{ static_url("img/onlineimg.png")}}" alt=""><img class="img-circle_on" src="{{ static_url("img/pic.jpg")}}"> Nesma</li>
            <li><img class="onimg" src="{{ static_url("img/onlineimg.png")}}" alt=""><img class="img-circle_on" src="{{ static_url("img/pic.jpg")}}"> Ahmed</li> -->
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
{% end%}
